.main {
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
    height: 100%;
}

.homeLink {
    color: #0083FF;
    text-decoration: underline;
}

.cyclope {
    color: #161616;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
}

.cyclope .title {
    font-size: 7.5vh;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

.cyclope .author {
    font-size: 4.5vh;
    color: #FF3434;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

.cyclope .info {
    font-size: 32px;
    color: #FF3434;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

.victors {
    font-size: 2.6vh;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    font-weight: 600;
    padding-top: 3vh;
}

.nameAndImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
}

.imageContainer {
    width: 10vh;
    height: 10vh;
    margin: 8px;
}

.titleContainer {
    margin: 8px;
}