.main {
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically within the viewport height */
    text-align: center; /* Center text horizontally */
    margin: 0 auto;
}

.cyclopeList {
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;

    @media (max-width: 1000px) {
        max-width: 100%;
    }
}

.list {
    font-size: 1.2rem;
}

.listItem {
    display: flex;
    justify-content: center;
}

.cyclope {
    padding: 10px;
    width: 500px;
    height: 120px;
    margin: 10px auto;
    display: flex;
    color: #161616;
    border: 1px dashed #DADADA;
}

.cyclope p {
    margin: 0; /* Remove default margin from <p> elements */
}

.cyclope .imageContainer {
    overflow: hidden; /* Ensure the image stays within the container */
}

.cyclope .mainContainer {
    text-align: left;
    padding: 0 1.2rem;
}

.cyclope .title {
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;

    /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
    @media (max-width: 768px) {
        font-size: 1.1rem; /* Adjust the font size for mobile devices */
    }
}

.cyclope .author {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    color: #343434;
}

.cyclope .points {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000000;
}