.id {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

.main {
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically within the viewport height */
    text-align: center; /* Center text horizontally */
}

.list {
    font-size: 1.2rem;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cyclope {
    width: 70vh;
    height: 10vh;
    border: #161616 dashed 1px;
    margin: 0.4rem 2rem;
    display: flex;
    justify-content: space-between; /* To separate the text items */
    padding: 0 1rem; /* Add padding for spacing */
    color: #161616
}

.cyclope p {
    margin: 0; /* Remove default margin from <p> elements */
}

.cyclope .imageContainer {
    width: 15%;
}

.cyclope .mainContainer {
    width: 85%;
    text-align: left;
    padding: 0 1.2rem;
}

.cyclope .title {
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 3vh;
}

.cyclope .author {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    color: #343434;
}

.cyclope .points {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000000;
}