.main {
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically within the viewport height */
    text-align: center; /* Center text horizontally */
    margin: 0 auto;
}

.list {
    font-size: 1.2rem;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cyclope {
    width: 25vw;
    height: 90px;
    margin: 10px auto;
    display: flex;
    color: #161616;

    @media (max-width: 1080px) {
        width: 100vw;
    }
}

.cyclope p {
    margin: 0; /* Remove default margin from <p> elements */
}

.cyclope .imageContainer {
    width: 92px;
    max-height: 195px;
    max-width: 195px;
    overflow: hidden; /* Ensure the image stays within the container */
}

.cyclope .mainContainer {
    width: 85%;
    text-align: left;
    padding: 0 1.2rem;
}

.cyclope .title {
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 1.7rem;

    /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
    @media (max-width: 768px) {
        font-size: 1.1rem; /* Adjust the font size for mobile devices */
    }
}

.cyclope .author {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    color: #343434;
}

.cyclope .points {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000000;
}